/*Formatação do header Netflix e o menu*/
@media screen and (max-width: 700px){
    header .container{
        display: flex;
        flex-direction: column;
    }

    .botao{
        margin-top: 5px;
    }
}

@media screen and(min-width: 1000px){
    .descricao{
        width: 50%;
    }
}

